@model SelectList
@{
    ViewBag.Title = "Лабораторная работа 2";
}


<h1>@ViewBag.LabTitle</h1>
    <h2>Список</h2>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <ol type="A">
                @for(int i = 1; i < 5; i++)
                {
                    <li>Элемент @i списка</li>
                }
            </ol>
        </div>
    </div> 
    <hr />
<h2>Форма</h2>

<form method="post" action="/send_unsafe">
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <select asp-items="@Model" class="form-select" name="listDemo">

            </select>
        </div>
    </div>
    <br />
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1" name="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Чек-бокс 1
                </label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck2" name="gridCheck2">
                <label class="form-check-label" for="gridCheck1">
                    Чек-бокс 2
                </label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <div class="d-flex">
                <div class="form-check me-3">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                    <label class="form-check-label" for="gridRadios1">
                        Радио-1
                    </label>
                </div>
                <div class="form-check me-3">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        Радио-2
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <label class="form-check-label" for="gridRadios3">
                        Радио-3
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Логин</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Введите логин" name="login">
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Введите пароль"
                   name="password">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
